@model IEnumerable<Trabalho.Models>

@{
	ViewBag.Title = "Index";
}

<div class ="container-fluid">

	<h1 class= "h3 mb-2 text-gray-800">Produtos</h1>
	<p  class= "mb-4">Listagem dos Produtos.</p>
	
	<p>
		<a class="btn btn-primary btn-icon-split btn-sm" href="~/Produto/Create">
			<span class="icon text-white">
					<i class="fas fa-plus-circle"></i>
			</span>
			<span class="text text-white">Adicionar</span>
		</a>
		
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Produtos</h6>
			</div>
			
			<div class="card-body">
				<div class="table-responsive">
					<table class= "table table-bordered table-hover" id="sisDataTable" width="100%" cellspacing="0">
							<thead>
								 <tr>
									<th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
									<th scope="col">@Html.DisplayNameFor(model => model.Modelo)</th> 
									<th scope="col">@Html.DisplayNameFor(model => model.Descricao)</th>
									<th scope="col">@Html.DisplayNameFor(model => model.Valor)</th>
									<th scope="col">Funções</th>
								</tr>
						   </thead>

							    <tbody>
								@{
									foreach (var item in Model)
									{
									
										<tr> 
											<td>
												@Html.DisplayFor(modelItem => item.Nome)
											</td>
											
											<td>
												@Html.DisplayFor(modelItem => item.Modelo)
											</td>
											
											<td>
												@Html.DisplayFor(modelItem => item.Descricao)
											</td>
											
											<td>
												@Html.DisplayFor(modelItem => item.Valor)
											</td>
											
											<td>
											    <a class="btn btn-primary btn-icon-split btn-sm" asp-action ="Edit"
												   asp-route-id="@item.Id">
												   
												   <span class ="icon text-white-50">
														<i class="fa fa-pencil"></i></span>
													<span class="text">Editar</span>
												</a>
											</td>
										</tr>
									}
								}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	 </p>
</div>

